<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Alone on iTunes</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../universal.css">
    <link rel="stylesheet" href="../subpages.css">
    <style>
    .hero-image {
    background-image: url("../img/hero/home-alone.jpg");
    }
    </style>
</head>
<body>
    <nav class="navbar fixed-top navbar-dark">
        <a class="navbar-brand" href="../index.html">
            <img src="https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/apple/image_large.svg" width="33" height="33" class="d-inline-block align-top" alt="">
            <span class="nav-text">iTunes Movie Review</span>
        </a>
    </nav>
    <div class="hero-image">
    </div>
    <div id="movies" v-for="info in info">
        <div class="container">
            <div class="row" id="info">
                <div class="col">
                    <div class="artwork">
                        <img :src="info.artworkURL" class="card-img">
                    </div>
                </div>
                <div class="col-8">
                    <div class="info">
                        <div class="info-title">
                            {{info.title}}
                        </div>
                        <div class="info-subtitle">
                            {{info.genre}} · {{info.duration}} · {{info.year}}
                        </div>
                        <div class="info-body">
                            {{info.summary}}
                        </div>
                        <div class="review-form">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Your Rating</label>
                                </div>
                                <select v-model="reviewRating" class="custom-select" id="inputGroupSelect01">
                                    <option disabled value="">Choose...</option>
                                    <option v-for="option in options" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>
                            <textarea type="text" class="form-control d-block" v-model="reviewComment" placeholder="Leave your comment here..." @keypress.enter="sumbitReview()"></textarea>
                            <button class="btn btn-outline-primary" @click="sumbitReview()" style="margin-top:1em;">Write an Review</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col" id="heading">
                    <h4> Ratings and Reviews</h4>
                </div>   
            </div>
            <div class="row">
                <div class="col">
                    <section class="scrolling-wrapper">
                        <review-card v-for="review, index in reverseReview" :key="index" :rating="review.rating" :comment="review.comment"></review-card>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        Copyright © 2019 Apple Inc. All rights reserved.
    </div>


<script>
   Vue.component("review-card", {
        props: ["rating", "comment"],
        template: `
        <div class="custom-card">
            <h5 class="card-title">{{rating}}</h5>
            <div class="card-text">{{comment}}</div>
        </div>
        `
    })

    var app = new Vue ({
        el: "#movies",
        data: {
            info: [
                {
                    title: "Home Alone",
                    genre: "Comedy",
                    duration: "1 Hour 43 Minutes",
                    year: "1990",
                    summary: "Eight-year-old Kevin McCallister (Macaulay Culkin) has become the man of the house, overnight! Accidentally left behind when his family rushes off on a Christmas vacation, Kevin gets busy decorating the house for the holidays. But he's not decking the halls with tinsel and holly. Two bumbling burglars are trying to break in, and Kevin's rigging a bewildering battery of booby traps to welcome them!",
                    artworkURL: "../img/artworks/home-alone.jpg",
                    rating: "3.9"
                },
            ],
            reviews: [
                {
                    rating: "Excellent",
                    comment: "Home Alone uneven but frequently funny premise stretched unreasonably thin is buoyed by Macaulay Culkin's cute performance and strong supporting stars."
                },
            ],
            options: [
                { text: 'Excellent', value: 'Excellent' },
                { text: 'Good', value: 'Good' },
                { text: 'Average', value: 'Average' },
                { text: 'Poor', value: 'Poor' },
                { text: 'Very Poor', value: 'Very Poor' },
            ],
            reviewRating: "",
            reviewComment: "",
        },
        methods: {
            sumbitReview() {
                if (!this.reviewRating || !this.reviewComment){
                    return;
                }
                this.reviews.push({
                    rating: this.reviewRating,
                    comment: this.reviewComment
                });
                this.reviewRating = "";
                this.reviewComment = "";
            }
        },
        computed: {
        reverseReview() {
            return this.reviews.reverse();
            }
        }
    })
</script>
</body>
</html>