<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fake Google Keep</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        body {padding: 2em;}
    </style>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="card title here" v-model="cardTitle">
        <input type="text" placeholder="card body here" v-model="cardBody">
        <button class="btn btn-primary" @click="addCard()">add card</button>
        <hr>
        <div class="card-columns">
            <card v-for="card, index in cards" :key="index" @remove-card="cards.splice(index, 1)"
            :title="card.title" :body="card.body">
            </card>
        </div>
    </div>
</body>
<script>
    Vue.component("card", {
        props: ["title", "body"],
        template: `
        <div class="card"">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{body}}</p>
                <button class="btn btn-primary" @click="$emit('remove-card')">Remove Me</button>
            </div>
        </div>
        `
    })
    var app = new Vue({
        el: "#app",
        data: {
            cards: [{title: "Card 1", body: "this is a body"}, {title: "Card 2", body: "this is a body"}],
            cardTitle: "",
            cardBody: "",
        },
        methods: {
            addCard() {
                this.cards.push({
                    title: this.cardTitle,
                    body: this.cardBody
                });
            },
        }
    })
</script>
</html>