<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reviews</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <style>
      body {
        padding: 2em;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <h1 class="banner">Product Reviews</h1>
      <hr />
      <div class="card-deck">
        <product v-for="product,index in products" :product="product" :key="index">
        </product>
      </div>
      <hr />
      <div class="Footer">Copyright &copy; 2019</div>
    </div>

    <script>
      Vue.component("review-form", {
        template: `
          <div>
          Post your Review
          <textarea class="form-control" v-model="comment"></textarea>
          <ul>
            <li v-for="error in errors">{{error}}</li>
          </ul>
          <button class="btn btn-primary" @click="submitReview()">submit</button>
          </div>
        `,
        data () {
          return {
            comment: "",
            errors: []
          }
        },
        methods: {
          submitReview: function () {
            this.errors.length = 0;
            if (this.comment.length < 3) {
              this.errors.push("Comment has to be at least 3 chars")
            }

            if (this.errors.length > 0) {
              return
            }

            var review = {
              comment: this.comment
            }
            this.$emit("review-submitted", review);
          }
        }
      });

      Vue.component("review-display", {
        props: ["reviews"],
        template: `
          <div>
          Reviews
          {{reviews}}
          </div>
        `,
      })

      Vue.component("product", {
        props: ["product"],
        template: `
            <div class="card"  style="max-width: 22rem;">
                <img :src="product.imageURL" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}} - {{product.price}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <review-display :reviews="reviews"></review-display>
                    <review-form @review-submitted="addReview"></review-form>
                </div>
            </div>
        `,
        methods: {
          addReview: function (review) {
            this.reviews.push(review);
          }
        },
        data () {
          return {
            reviews: []
          }
        }
      });

      var app = new Vue({
        el: "#app",
        data: {
          products: [
            {
              title: "iPhone X",
              price: "$999",
              imageURL: "https://tool.vample.com/courses/MAD/assignments/L5/iphone-x.png",
              description: "Welcome to the big screens."
            },
            {
              title: "iPhone XR",
              price: "$749",
              imageURL: "https://tool.vample.com/courses/MAD/assignments/L5/iphone-x.png",
              description: "Brilliant. In every way."
            }
          ]
        }
      });
    </script>
  </body>
</html>
